$bounceHeight: 50px;
$numBounces: 5;
$distX: 100%;
$delay: 3s;

h1:before {
	width: 100%;
	height: 330px;
	background-image:url('fresh-prince.jpg');
	background-size: cover;
	background-position: top;
	text-align: left;
	animation: karaoke-drop 1s;
}

h1:after {
  top: 115px;
	animation:
		vert 3s $delay linear infinite,
		horz 3s $delay linear infinite,
		;
}

@keyframes vert {
  @for $i from 1 through $numBounces {
    $segment: 100/$numBounces;
    $a: ($i - 1) * $segment;
    $b: ($i * $segment) - ($segment / 2);
    $c: $i * $segment;
    #{$a}% { transform: translateY(0);  animation-timing-function: cubic-bezier(0.0, 0.1, 0.3, 1.0); }
    #{$b}% { transform: translateY(-$bounceHeight) scaleY(1); animation-timing-function: cubic-bezier(0.3, 0.0, 0.8, 0.5); }
  }
  100% {transform: translateY(0)}
}

@keyframes horz {
	0%   { left: 0; }
	50%  { left: $distX/2; }
	100% { left: $distX; }
}

@keyframes text {
	0%   { left: 0; }
	50%  { left: $distX/2; }
	100% { left: $distX; }
}

$numKaraokeLines: 5;
$fadeSpeed: 1;

@keyframes karaoke-in {
	0%   { opacity: 0 }
	75%  { opacity: 0 }
	100% { opacity: 1 }
}

@for $i from 1 through $numKaraokeLines {
  $animation-name: karaoke#{$i};
	$enter: karaoke-in $delay linear;
	$loop: #{$animation-name} 15s $delay linear infinite;
  h1 p:nth-child(#{$i}) {
		@if ($i == 1) {
			animation: $enter, $loop;
		} @else {
			animation: $loop;
		}
  };
  @keyframes #{$animation-name} {
    $segment: 100/$numKaraokeLines;
    $ii: ($i - 1);
    $a: $ii * $segment;
    $b: ($ii * $segment)+$fadeSpeed;
    $c: $i * $segment;
    $d: ($i * $segment)+$fadeSpeed;
    $e: 0;
    0% { op: 0 }
    #{$a}% {opacity: 0}
    #{$b}% {opacity: 1}
    #{$c}% {opacity: 1}
    #{$d}% {opacity: 0}
    100% {opacity: 0}
  }
}

@keyframes karaoke-drop {
	0% { transform: rotate(90deg) scale(0);}
	100% { transform: rotate(0deg) scale(1);}
}
